<html>
<head>
    <title>profile</title>
    
    <link rel="stylesheet" href="/internship/assets/css/profile.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" >

</head>
<body>
    <div class="container">
        <div>
           <img src="\internship\assets\images\profile-icon.png" style="width:180px; height:180px;object-fit: cover;">
        </div>
        <div class="header">

        <div>
            <h1>Hello <span id="name"></span> Welcome Back!</h1>

            <table>
                <h2 style="	margin-left: 10px;"><div>Your Profile Details:</div></h2>
                <tr><td><label>Age:</label></td><td><small id="age"><br></small></td></tr>
                <tr><td><label> Date of Birth:</lable></td><td><small id="date" ><br></small></td></tr>
                <tr><td><label>Contact Number:</label></td><td><small id="contact"><br></small></td></tr>
                <tr><td><label> Address:</label></td><td><small id="address"><br></small></td></tr>
            </table>
        </div>
        <button id="logoutButton">Logout</button>
                <button id="myButton">Edit</button>
    </div></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" ></script>
        <script src="https://code.jquery.com/jquery-3.6.3.js"  crossorigin="anonymous"></script>   
        <script src="/internship/js/profile.js"></script>
    

</body>
</html>
