/* Login page styles */
#login {
    background-color: black;
}

#login h2 {
    color: #7FFF00; /* Parrot Green */
}

#login button, #login input[type="submit"], #login a {
    background-color: #7FFF00; /* Parrot Green */
    color: black;
}

#login button:hover, #login input[type="submit"]:hover, #login a:hover {
    background-color: #5fbf00; /* Slightly darker green for hover effect */
}

#login form {
    margin-top: 20px;
}

.toggle-password {
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    vertical-align: middle;
}
