/* Profile page styles */
#profile {
    background-color: black;
}

#profile h2 {
    color: #7FFF00; /* Parrot Green */
}

#profile p {
    color: white;
}

.logout-button {
    margin-top: 20px;
    background-color: #7FFF00; /* Parrot Green */
    color: black;
}

.logout-button:hover {
    background-color: #5fbf00; /* Slightly darker green for hover effect */
}
