/* Register page styles */
#register {
    background-color: black;
}

#register h2 {
    color: #7FFF00; /* Parrot Green */
}

#register button, #register input[type="submit"], #register a {
    background-color: #7FFF00; /* Parrot Green */
    color: black;
}

#register button:hover, #register input[type="submit"]:hover, #register a:hover {
    background-color: #5fbf00; /* Slightly darker green for hover effect */
}

#register form {
    margin-top: 20px;
}

.toggle-password {
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    vertical-align: middle;
}

.error-message {
    color: red;
}
